body {
    background-color:aliceblue;
    margin: 0px;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 100px 1fr 100px;
}

header {
    background-color: brown;
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

#app-container {
    background-color: chocolate;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

footer {
    background-color: brown;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}